 
  @keyframes slide {
    from {
      right:-200px;
      opacity: 0;
    }
    to {
      right: 0;
      opacity: 1;
    }
  };

  @keyframes disAppear {
    from {
      right:-200;
      opacity: 1;
    }
    to {
      right:0px;
      opacity: 1;
    }
  };

  @keyframes rotatingCircle {
    /* 0%, */
    10% {
      box-shadow:
        0 0 4px #fff,
        0 0 20px rgb(0, 225, 255),
        0 0 10px #00a6f3,
        0 0 40px #00aef3,
        0 0 12px #0039f3,
        0 0 5px #ffffff;
    }
  
    90% {
      box-shadow: none;
    }
  }
