#portfolio_02 {
  width: 100vw;
  height: 100vh;
  background-color: #211e1e;
  display: flex;
  overflow: hidden;
}

#portfolio_imageBox_02 {
  width: 75vw;
  height: 100vh;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  transition: 0.2s;
}

#portfolio_image_02 {
  width: 800px;
  height: 600px;
  /* background-color: #4E4E4E; */
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Asset/mockup01.png);
  position: relative;
  transition: 0.2s;
}

#portfolio_image_02 > div {
  width: 100%;
  height: 75%;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  top: 20px;
}

#portfolio_image_02 > div > img {
  width: 100%;
}

#portfolio_image_02 > div > img:hover {
  transform: translateY(-85%);
  top: 100%;
  transition: 8s ease-out;
}

#portfolio_image_button_02 {
  width: 550px;
  height: 8vh;
  /* border: 1px solid red; */
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  bottom: 120px;
  left: 100px;
  font-size: 13px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-style: italic;
}

#web_02 {
  width: 60px;
  height: 40px;
  background-color: #FD9B00;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

#design_02 {
  width: 60px;
  height: 40px;
  background-color: #15151A;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

#portfolio_detail_02 {
  width: 30vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  right: 0;
  font-family: "Lato", sans-serif;
}

#portfolio_detail_02 > div {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 10px;
  color: #444444;
  margin: 10px;
}

#portfolio_detail_02 > div > p {
  font-size: 15px;
}

#titleText_Box_02 > p{
  font-weight: bold;
  font-style: italic;
}

#colorBox_02 {
  width: 200px;
  height: 30px;
  /* background-color: gray; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#colorBox_02 > div {
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
}

#colorBox_02 > div:nth-child(1) {
  background-color: #FD9B00;
}

#colorBox_02 > div:nth-child(2) {
  background-color: #15151A;
}

#colorBox_02 > div:nth-child(3) {
  background-color: #212932;
}


#portfolio_detail_02 > div:nth-child(5) {
  width: 150px;
  height: 150px;
}

#portfolio_detail_02 > div:nth-child(6) {
  width: 150px;
  height: 120px;
}

#imageBox-mobile_02 {
  width: 200px;
  height: 400px;
  position: absolute;
  left: 90px;
  z-index: 999;
  background-image: url(../Asset/mockup02.png);
  /* background-position: center; */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#imageBox-mobile_02 > div {
  width: 89%;
  height: 95%;
  border-radius: 20px;
  position: absolute;
  overflow: hidden;
}

#imageBox-mobile_02 > div > img {
  width: 100%;
}

#imageBox-mobile_02 > div > img:hover {
  transform: translateY(-74%);
  top: 100%;
  transition: 5s ease-out;
  cursor: pointer;
}


/* *********portfolio_02 media section*******/

@media screen and (max-width: 1100px) {
  #portfolio_imageBox_02 {
    width: 75vw;
    height: 100vh;
    transition: 0.4s;
  }

  #portfolio_image_02 {
    width: 650px;
    height: 600px;
  }

  #portfolio_image_02 > div {
    height: 76%;
    top: 20px;
  }

  #portfolio_image_button_02 {
    bottom: 120px;
    left: 10px;
    transition: 0.5s;
  }

  #portfolio_detail_02 {
    width: 25vw;
  }

  #imageBox-mobile_02 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #portfolio_02 {
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
  }

  #portfolio_imageBox_02 {
    width: 500px;
    height: 450px;
    transition: 0.4s;
  }

  #portfolio_image_02 {
    width: 550px;
    height: 300px;
    transition: 0.4s;
    background-image: none;
    border-radius: 20px;
    padding-right: 5%;

  }

  #portfolio_image_02 > div {
    width: 80%;
    height: 100%;
    top: 22px;
    border-radius: 20px;

  }

  #portfolio_detail_02 {
    width: 100vw;
    flex-wrap: wrap;
    z-index: 1;
    height: 50vh;
    justify-content: space-evenly;
  }

  #portfolio_detail_02 > div {
    width: 200px;
    height: 80px;
    margin: 0px;
  }

  #portfolio_detail_02 > div > p {
    font-size: 14px;
    transition: 0.4s;
  }

  #portfolio_image_button_02 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: unset;
  }

  #titleText_Box_02 {
    text-align: center;
  }

  #web_02 {
    width: 100px;
  }
  
  #design_02 {
    width:100px;
  }
  #imageBox-mobile_02 {
    display: none;
  }
  
}
